*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  font-size: 15px;
  color: white;
  width: 100vw;
  height: 100vh;

}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  /* to put the boxes int the center of the body */

}

.card-wrapper {
  overflow: hidden;
  cursor: pointer;
  min-height: 23rem;
  min-width: 16rem;
  margin: 5px;
  box-shadow: inset 0 0 30px 3px #000;
  z-index: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
  -webkit-transition: all ease-out 0.25s;
  transition: all ease-out 0.40s;
}

.card-wrapper:hover .image {
  border: 3px solid rgba(0, 0, 0, 0.5);
  top: 50%;
}

.card-wrapper:hover .left-card,
.card-wrapper:hover .right-card,
.card-wrapper:hover .left,
.card-wrapper:hover .right {
  color: white;
}



.card-mid,
.card-header {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  color: #919191;
  z-index: 1;

}

.card-mid {
  justify-content: center;
}


.image {
  border-radius: 100%;
  border: 7px solid rgba(0, 0, 0, 0.5);
  width: 9rem;
}


.card-footer {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin: 10px;

}

.card-likes {
  position: relative;
  color: #919191;
  z-index: 1;
}

.left-card,
.right-card {
  position: absolute;
  top: 86px;

}

.left-card {
  left: 178px;

}


/* BLUE */

.purple-box:hover .card-wrapper {
  background: rgba(142, 0, 237, 0.7);
}

.purple-box .card-wrapper {
  border-bottom: 3px solid #8E00ED;
}

/* RED */

.red-box:hover .card-wrapper {
  background: rgba(234, 0, 3, 0.7);
}

.red-box .card-wrapper {
  border-bottom: 3px solid #ea0000;
}

/* YELLOW */
.yellow-box:hover .card-wrapper {
  background: rgba(255, 229, 0, 0.7);
}

.yellow-box .card-wrapper {
  border-bottom: 3px solid #ffe500;
}

/* GREEN */
.green-box:hover .card-wrapper {
  background: rgba(0, 153, 37, 0.7);
}

.green-box .card-wrapper {
  border-bottom: 3px solid #009925;
}




@media only screen and (max-width: 500px) {
  .wrapper {
    flex-direction: column;
  }
}